
@model Order;

<div class="container-fluid">
    <form method="post">
        <div class="mb-3">
            <label asp-for="ClientName" class="form-label">Name</label>
            <input asp-for="ClientName" type="text" class="form-control">
            <span asp-validation-for="ClientName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ClientSurname" class="form-label">Surname</label>
            <input asp-for="ClientSurname" type="text" class="form-control">
            <span asp-validation-for="ClientSurname" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ClientPhoneNumber" class="form-label">Username</label>
            <input asp-for="ClientPhoneNumber" type="tel" class="form-control">
            <span asp-validation-for="ClientPhoneNumber" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ClientEmail" class="form-label">Email</label>
            <input asp-for="ClientEmail" type="email" class="form-control">
            <span asp-validation-for="ClientEmail" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Problem" class="form-label">Number</label>
            <input asp-for="Problem" type="text" class="form-control">
            <span asp-validation-for="Problem" class="text-danger"></span>
        </div>
        <!--<div class="mb-3">
            <label asp-for="ServiceId" class="form-label">Service</label>
            <select class="form-select" asp-for="ServiceId" asp-items="new SelectList (ViewBag.Services, nameof(Service.Id), nameof(Service.Title))">
            </select>
            <span asp-validation-for="Service" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ServiceId" class="form-label">Service</label>
            <select class="form-select" asp-for="ServiceId" asp-items="new SelectList (ViewBag.Services, nameof(Service.Id), nameof(Service.Title))">
            </select>
            <span asp-validation-for="Service" class="text-danger"></span>
        </div>-->
        <button type="submit" class="btn btn-warning text-white">Edit</button>
        @if (!Model.isActive)
        {
            <a>
                <button type="submit" class="btn btn-primary" asp-action="RevertSoftDelete" asp-controller="Orders" asp-area="Admin" asp-route-id="@Model.Id">Restore Soft Delete</button>
            </a>
        }
    </form>
</div>