@model UpdateServiceDTO;

<div class="container-fluid">
    <form method="post">
        <div class="mb-3">
            <label asp-for="Title" class="form-label">Title</label>
            <input asp-for="Title" type="text" class="form-control">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Description</label>
            <input asp-for="Description" type="text" class="form-control">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <!--<div class="mb-3">
             <label asp-for="ImageFile" class="form-label">Description</label>
             <input asp-for="ImageFile" type="file" class="form-control">
             <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>-->
        <div class="mb-3">
            <div style="width:100px;position:relative;">
                <a asp-route-id="@Model.Id" asp-action="DeleteImage" asp-controller="Services" asp-area="Admin" class="d-flex justify-content-center align-items-center" style="cursor:pointer;display:inline-block;text-decoration:none;position:absolute;right:-10px;top:-10px;width:20px;height:20px;background-color:red;border-radius:100%;color:white;"><i class="fa-solid fa-x" style="color: #ffffff;font-size:10px;"></i></a>
                <img style="width:100%;" src="~/@Model.ImagePath" />
            </div>
        </div>
        <button type="submit" class="btn btn-warning text-white">Edit</button>
        @if (!Model.isActive)
        {
            <a>
                <button type="submit" class="btn btn-primary" asp-action="RevertSoftDelete" asp-controller="Services" asp-area="Admin" asp-route-id="@Model.Id">Restore Soft Delete</button>
            </a>
        }
    </form>
</div>